services:
  app:
    build: .
    container_name: pce_app
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=pce_user
      - DB_PASSWORD=pce_password
      - DB_NAME=pce_db
      - DATABASE_URL=mysql://pce_user:pce_password@db:3306/pce_db
      - NODE_ENV=development
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.nuxt
      - /app/.output
    networks:
      - pce_network

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pce_db
      MYSQL_USER: pce_user
      MYSQL_PASSWORD: pce_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - pce_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    links:
      - db
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
    networks:
      - pce_network

volumes:
  mysql_data:


networks:
  pce_network:
    driver: bridge
